#parse("header.html")


<div class="container">
    <div class="row clearfix">
        <div class="col-md-4 column">
            <table class="table table-striped">
                <caption>
                    <div class="container">
                        <div class="row clearfix">
                            <div class="col-md-12 column">
                                <blockquote>
                                    <p>
                                        Top10
                                    </p>
                                    <small>按照 <cite>胜利场次</cite> &nbsp;排名</small>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </caption>
                <thead>
                <tr>
                    <th>排名</th>
                    <th>玩家</th>
                    <th>胜场</th>
                    <th>场次</th>
                    <th>最近游戏</th>
                </tr>
                </thead>
                <tbody>
                #if($top10Win)
                #foreach($record in $top10Win)
                <tr>
                    <td>$!{foreach.count}</td>
                    <td>$!{record.name}</td>
                    <td>$!{record.win}</td>
                    <td>$!{record.total}</td>
                    <td> $date.format('yyyy-MM-dd HH:mm:ss', $!{record.lastGameDate})</td>
                </tr>
                #end
                #end
                </tbody>
            </table>
        </div>
    </div>
    <hr>


    <div class="row clearfix">

        <div class="col-md-4 column">
            <table class="table table-striped">
                <caption>
                    <div class="container">
                        <div class="row clearfix">
                            <div class="col-md-12 column">
                                <blockquote>
                                    <p>
                                        Top10
                                    </p>
                                    <small>按照 <cite>游戏场次</cite> &nbsp;排名</small>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </caption>
                <thead>
                <tr>
                    <th >排名</th>
                    <th >玩家</th>
                    <th >胜场</th>
                    <th >场次</th>
                    <th >最近游戏</th>
                </tr>
                </thead>
                <tbody>
                #if($top10Win)
                #foreach($record in $top10Win)
                <tr>
                    <td>$!{foreach.count}</td>
                    <td>$!{record.name}</td>
                    <td>$!{record.win}</td>
                    <td>$!{record.total}</td>
                    <td> $date.format('yyyy-MM-dd HH:mm:ss', $!{record.lastGameDate})</td>
                </tr>
                #end
                #end
                </tbody>
            </table>
        </div>
    </div>
    <hr>

    <div class="row clearfix">
        <div class="col-md-4 column">
            <table class="table table-striped">
                <caption>
                    <div class="container">
                        <div class="row clearfix">
                            <div class="col-md-12 column">
                                <blockquote>
                                    <p>
                                        Top10
                                    </p>
                                    <small>按照 <cite>胜率</cite> &nbsp;排名</small>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </caption>
                <thead>
                <tr>
                    <th>排名</th>
                    <th>玩家</th>
                    <th>胜场</th>
                    <th>场次</th>
                    <th>最近游戏</th>
                </tr>
                </thead>
                <tbody>
                #if($top10Win)
                #foreach($record in $top10Win)
                <tr>
                    <td>$!{foreach.count}</td>
                    <td>$!{record.name}</td>
                    <td>$!{record.win}</td>
                    <td>$!{record.total}</td>
                    <td> $date.format('yyyy-MM-dd HH:mm:ss', $!{record.lastGameDate})</td>
                </tr>
                #end
                #end
                </tbody>
            </table>
            <button type="button" class="btn btn-default btn-block">按钮</button>
            <button type="button" class="btn btn-default btn-block">按钮</button>
            <button type="button" class="btn btn-default btn-block">按钮</button>
        </div>
    </div>
    <hr>


</div>
#parse("footer.html")
