<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buywhat.demo.dao.TeamGameRecordMapper">
    <sql id="Base_Column_List">
        id, user_id, win, total, first_game_date, last_game_date
    </sql>

    <!--根据游戏胜率进行排名-->
    <!---->
    <!--List<TeamGameRecord> selectTop10ByWinRate();-->
    <select id="selectTop10ByWinRate" resultMap="BaseResultMap">
          SELECT `name`,`win`,`total`,`win`/`total`*100 as `winrate`
              FROM teamgamerecord AS t
              INNER JOIN usertable as u
          On t.user_id = u.id
          WHERE total > 4
      ORDER BY `winrate` DESC
      limit 10
    </select>


    <!--* 根据游戏场次 进行排名-->
    <!--List<TeamGameRecord> selectTop10ByTotal();-->
    <select id="selectTop10ByTotal" resultMap="BaseResultMap">
        SELECT *
            FROM teamgamerecord AS t
            INNER JOIN usertable as u
            On t.user_id = u.id
        WHERE t.user_id NOT in (-1,-2)
        ORDER BY total DESC
        limit 10
</select>



    <!--根据胜场查询排名（不能包括电脑和游客）2018年9月20日 23:07:11-->
    <!--List<TeamGameRecord> selectTop10ByWin();-->
    <select id="selectTop10ByWin" resultMap="BaseResultMap">
        SELECT *
            FROM teamgamerecord AS t
            INNER JOIN usertable as u
            On t.user_id = u.id
        WHERE t.user_id NOT in (-1,-2)
        ORDER BY win DESC
        limit 10
</select>


    <!--TeamGameRecord selectByUserId(Integer playerId);-->
    <select id="selectByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM teamgamerecord
        WHERE user_id = #{aaa}
        limit 1
    </select>


    <resultMap id="BaseResultMap" type="com.buywhat.demo.bean.game.TeamGameRecord">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="win" jdbcType="INTEGER" property="win"/>
        <result column="total" jdbcType="INTEGER" property="total"/>
        <result column="first_game_date" jdbcType="TIMESTAMP" property="firstGameDate"/>
        <result column="last_game_date" jdbcType="TIMESTAMP" property="lastGameDate"/>
        <!--<result column="name" property="name"/>-->
    </resultMap>


    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from teamgamerecord
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from teamgamerecord
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.buywhat.demo.bean.game.TeamGameRecord">
    insert into teamgamerecord (id, user_id, win, 
      total, first_game_date, last_game_date
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{win,jdbcType=INTEGER}, 
      #{total,jdbcType=INTEGER}, #{firstGameDate,jdbcType=TIMESTAMP}, #{lastGameDate,jdbcType=TIMESTAMP}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.buywhat.demo.bean.game.TeamGameRecord">
        insert into teamgamerecord
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="win != null">
                win,
            </if>
            <if test="total != null">
                total,
            </if>
            <if test="firstGameDate != null">
                first_game_date,
            </if>
            <if test="lastGameDate != null">
                last_game_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="win != null">
                #{win,jdbcType=INTEGER},
            </if>
            <if test="total != null">
                #{total,jdbcType=INTEGER},
            </if>
            <if test="firstGameDate != null">
                #{firstGameDate,jdbcType=TIMESTAMP},
            </if>
            <if test="lastGameDate != null">
                #{lastGameDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.buywhat.demo.bean.game.TeamGameRecord">
        update teamgamerecord
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="win != null">
                win = #{win,jdbcType=INTEGER},
            </if>
            <if test="total != null">
                total = #{total,jdbcType=INTEGER},
            </if>
            <if test="firstGameDate != null">
                first_game_date = #{firstGameDate,jdbcType=TIMESTAMP},
            </if>
            <if test="lastGameDate != null">
                last_game_date = #{lastGameDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.buywhat.demo.bean.game.TeamGameRecord">
    update teamgamerecord
    set user_id = #{userId,jdbcType=INTEGER},
      win = #{win,jdbcType=INTEGER},
      total = #{total,jdbcType=INTEGER},
      first_game_date = #{firstGameDate,jdbcType=TIMESTAMP},
      last_game_date = #{lastGameDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>