#parse("gameHeader.html")
<style>
    button
    {
        background-color:black;
        color:white;
        opacity:0.9;
    }

</style>
<div class="container" align="center">
    ##背景画面
    <img
            src="https://s1.52poke.wiki/wiki/thumb/a/a8/%E8%8E%8E%E8%8E%89%E5%A8%9C_XY.png/220px-%E8%8E%8E%E8%8E%89%E5%A8%9C_XY.png"
            alt="">

    ##游戏结束提示信息
    <h1 style="color:#FFFFFF;"  id="gameOverInfo" onclick="abc()">$!{gameover}</h1>


    ##功能按钮
    <button><h1><a href="/payForGame" style="color:#FFFFFF;">充钱</a></h1></button>

    <button><h1><a href="/teamfight" style="color:#FFFFFF;">再来一局</a></h1></button>

    <button><h1><a href="/showTopPlayer" style="color:#FFFFFF;">查看排行榜</a></h1></button>




</div>

<div style="position: fixed;left: 0%;top: 0px;z-index: 2;  opacity:0.99;">
    <div style="position:absolute;top: 190px;">
        <h3>对战信息:</h3>
        <textarea style="height: 300px;width: 400px;opacity:0.8;"
                  readonly>$!{battleMsg}</textarea>
    </div>
</div>

<script type="text/javascript">

//    function showInfo() {
//
//        var msgElement = document.getElementById("gameOverInfo");
//        var info = msgElement.innerText;
//
//
//        var r = confirm(info);
//        if (r == true) {
//            alert("嘿嘿");
//        }
//        else {
//            alert("嘻嘻");
//        }
//
//    }
//
//    //自动调用弹框
//    window.onload = showInfo;
</script>
#parse("footer.html")