#########战斗信息



<div style="position: absolute ;top: 20%;left: 35%;width: 400px">
    <table style="position:absolute;border: #a6a8b1;opacity: 0.5" border="2" width="398" height="190"><tr><td></td></tr>
    </table>

    ###出战精灵信息
    ##玩家1精灵
    #if(${plPmFighting})
    ##
    <div  style=" visibility:hidden;height: 30px;position: absolute"></div>
    <button class="p1info1"  style="height: 30px;width: 60px;position: absolute;left: 0px;">$!{p1HurtInfo.info1}</button>
    <button class="p1info2" style="height: 30px;width: 60px;position: absolute;left: 65px;">$!{p1HurtInfo.info2}</button>

    <button class="p2info1"  style="height: 30px;width: 60px;position: absolute;left: 265px">$!{p2HurtInfo.info1}</button>
    <button class="p2info2" style="height: 30px;width: 60px;position: absolute;left: 330px">$!{p2HurtInfo.info2}</button>


    <style>
        .p1info1 {
        background-color: $!{p1HurtInfo.color1};
        color: white;
        opacity: 0.85;
        border-radius:15px;
        }

        .p1info2 {
        background-color: $!{p1HurtInfo.color2};
        color: white;
        opacity: 0.85;
        border-radius:15px;
        }


        .p2info1 {
        background-color: $!{p2HurtInfo.color1};
        color: white;
        opacity: 0.85;
        border-radius:15px;
        }

        .p2info2 {
        background-color: $!{p2HurtInfo.color2};
        color: white;
        opacity: 0.85;
        border-radius:15px;
        }


    </style>


    <div style="position: absolute;left: 0px;top: 30px;width: 400px">
        <!--<img src="https://ztqimage.oss-cn-shenzhen.aliyuncs.com/teamfight/%E9%97%AA%E7%94%B5%E9%B8%9F%E8%83%8C%E6%99%AF.png"-->
        <!--alt="战斗背景" style="z-index: -1">-->
        <img style="position: absolute;left: 0px" src="$!{plPmFighting.url}" alt="p1选中的PM" class="fightpmimg">

        ##玩家2精灵
        <img style="position: absolute;left: 290px" src="$!{p2PmFighting.url}" alt="P2选中的PM" class="fightpmimg">
    </div>
    #else

    <div style=" visibility:hidden;height: 140px;position: absolute">
        ##这个DIV层用实现来【占位】功能
    </div>
    #end

    ##玩家信息
    <div style="position: absolute;left: 0px;top: 150px;">
        <button class="stylegrass" style="height: 40px;width: 130px" onclick="choose1()">草系出战</button>
        <button class="stylefire" style="height: 40px;width: 130px" onclick="choose2()">火系出战</button>
        <button class="stylewater" style="height: 40px;width: 130px" onclick="choose3()">水系出战</button>

    </div>
    ##
    <div style="position:absolute;top: 190px;">
        <h3>对战信息:</h3>
        <textarea style="height: 240px;width: 400px"
                  readonly>$!{battleMsg}</textarea>
    </div>
</div>

