#parse("header.html")


#########我方信息

<form action="/teamfightgogogo">
    <div align="left" style="position: absolute ;top: 10%;left: 20px">

        #####HP信息


        <div id="hp">
            <h2>HP：$!{player1Hp}/100 <br>
                <progress value="$!{player1Hp}" max="100"></progress>
            </h2>
        </div>


        ########草系
        <div>
            <div class="div" id="my-pokemon-1">
                <div class="div1" id="my-pokemon-1-img">
                    <img src="$!{p1.url}"
                         alt="草系"
                         height="160px"></div>
                <div class="div2" style="float: right">
                    <br><br><br>
                    <input type="radio" value="3123" name="p1" style="width: 30px;height: 30px">
                    <font size="5">[我方]$!{p1.name}</font>
                </div>
            </div>
        </div>

        ########火系
        <div>
            <div class="div" id="my-pokemon-2">
                <div class="div1" id="my-pokemon-2-img">
                    <img src="$!{p2.url}"
                         alt="火系"
                         height="160px"></div>
                <div class="div2" style="float: right"><br><br><br>

                    <input type="radio" value="3123" name="p2" style="width: 30px;height: 30px">
                    <font size="5">[我方]$!{p2.name}</font>
                </div>

            </div>
        </div>


        ########水系


        <div>
            <div class="div" id="my-pokemon-3">
                <div class="div1" id="my-pokemon-3-img">
                    <img src="$!{p3.url}"
                         alt="水系"
                         height="160px"></div>
                <div class="div2" style="float: right"><br><br><br>
                    <input type="radio" value="3123" name="p2" style="width: 30px;height: 30px">
                    <font size="5">[我方]$!{p3.name}</font>
                </div>

            </div>
        </div>


    </div>

    </div>

    #########战斗信息

    <div style="position: absolute ;top: 30%;left: 38%">

        <input type="hidden" name="leftHit" value="25">
        <input type="hidden" name="rightHit" value="25">
        <button onsubmit="true" style="height: 100px;width: 200px"><h3>就决定是你了</h3></button>
        <br>
        对战信息 <br>
        <textarea>${BattleMSG}</textarea>
    </div>


    #########对方模块


    <div align="right" style="position: absolute ;top: 10%;right: 20px">
        <div>
            <h2>HP：$!{player2Hp}/100 <br>
                <progress value="$!{player2Hp}" max="100"></progress>
            </h2>
        </div>
        <div>
            <div><img src="$!{p4.url}"
                      alt="对方草系"
                      height="160px">
            </div>
            <div>
                ## <input type="radio" value="3123" name="p1">##$!{宠物4名字}
            </div>
        </div>


        <div>
            <div><img src="$!{p5.url}" alt="对方火系"
                      height="160px">
            </div>
            <div>
                ## <input type="radio" value="3123" name="p1">##$!{宠物4名字}
            </div>

        </div>

        <div>
            <div><img src="$!{p6.url}"
                      alt="对方水系"
                      height="160px">
            </div>
            <div>
                ##<input type="radio" value="3123" name="p1">##$!{宠物6名字}
            </div>
        </div>
    </div>
</form>


#parse("footer.html")