#parse("header.html")


#########我方信息

<form action="/teamfightgogogo" method="post">
    <div align="left" style="position: absolute ;top: 10%;left: 20px">

        #####HP信息

        <div id="hp">
            <h2>HP：$!{player1Hp}/100 <br>
                <progress value="$!{player1Hp}" max="100"></progress>
            </h2>
        </div>


        ########草系
        <div>
            <div class="div" id="my-pokemon-1">

                ####图片
                <div class="div1" id="my-pokemon-1-img">
                    <img src="$!{p1.url}"
                         alt="草系"
                         height="160px"></div>
                <div class="div2" style="float: right">
                    <input type="radio" value="$!{p1.id}" name="chooseId" style="width: 30px;height: 30px" checked>

                    ####详细信息
                    <font size="5">[我方]$!{p1.name}
                        <br>&#160; &#160; &#160; 攻击力:$!{p1.att}
                    </font>
                </div>
            </div>
        </div>

        ########火系
        <div>
            <div class="div" id="my-pokemon-2">

                ####图片
                <div class="div1" id="my-pokemon-2-img">
                    <img src="$!{p2.url}"
                         alt="火系"
                         height="160px"></div>
                <div class="div2" style="float: right">
                    <input type="radio" value="$!{p2.id}" name="chooseId" style="width: 30px;height: 30px">

                    ####详细信息

                    <font size="5">[我方]$!{p2.name}
                        <br>&#160; &#160; &#160; 攻击力:$!{p2.att}
                    </font>
                </div>

            </div>
        </div>


        ########水系


        <div>
            <div class="div" id="my-pokemon-3">
                ####图片
                <div class="div1" id="my-pokemon-3-img">
                    <img src="$!{p3.url}"
                         alt="水系"
                         height="160px"></div>
                <div class="div2" style="float: right">
                    <input type="radio" value="$!{p3.id}" name="chooseId" style="width: 30px;height: 30px">

                    ####详细信息

                    <font size="5">[我方]$!{p3.name}
                        <br>&#160; &#160; &#160; 攻击力:$!{p3.att}
                    </font>
                </div>

            </div>
        </div>


    </div>

    </div>

    #########战斗信息

    ##### 表单隐藏信息
    <input type="hidden" name="p1Id" value="$!{p1.id}">
    <input type="hidden" name="p2Id" value="$!{p2.id}">
    <input type="hidden" name="p3Id" value="$!{p3.id}">
    <input type="hidden" name="p4Id" value="$!{p4.id}">
    <input type="hidden" name="p5Id" value="$!{p5.id}">
    <input type="hidden" name="p6Id" value="$!{p6.id}">
    <input type="hidden" name="player1Hp" value="$!{player1Hp}">
    <input type="hidden" name="player2Hp" value="$!{player2Hp}">


    <div style="position: absolute ;top: 30%;left: 38%">

        <input type="hidden" name="leftHit" value="25">
        <input type="hidden" name="rightHit" value="25">
        <button onsubmit="true" style="height: 100px;width: 200px"><h3>就决定是你了</h3></button>
        <br>
        <h3>对战信息:</h3>
        <textarea style="height: 200px;width: 400px">${BattleMSG}</textarea>
    </div>


    #########对方模块


    <div align="right" style="position: absolute ;top: 10%;right: 20px">
        <div>
            <h2>HP：$!{player2Hp}/100 <br>
                <progress value="$!{player2Hp}" max="100"></progress>
            </h2>
        </div>
        ########草系
        <div>
            <div class="div" id="my-pokemon-4">

                <div class="div2" style="float: left">


                    ####详细信息

                    <font size="5">[敌方]$!{p4.name}
                        <br>&#160; &#160; &#160; 攻击力:$!{p4.att}
                    </font>
                </div>

                ####图片
                <div class="div1" id="my-pokemon-4-img">
                    <img src="$!{p4.url}"
                         alt="草系"
                         height="160px"></div>

            </div>
        </div>


        ########火系
        <div>
            <div class="div" id="my-pokemon-5">

                <div class="div2" style="float: left">


                    ####详细信息

                    <font size="5">[敌方]$!{p5.name}
                        <br>&#160; &#160; &#160; 攻击力:$!{p5.att}
                    </font>
                </div>

                ####图片
                <div class="div1" id="my-pokemon-5-img">
                    <img src="$!{p5.url}"
                         alt="火系"
                         height="160px"></div>

            </div>
        </div>


        ########水系
        <div>
            <div class="div" id="my-pokemon-6">

                <div class="div2" style="float: left">


                    ####详细信息

                    <font size="5">[敌方]$!{p6.name}
                        <br>&#160; &#160; &#160; 攻击力:$!{p6.att}
                    </font>
                </div>

                ####图片
                <div class="div1" id="my-pokemon-6-img">
                    <img src="$!{p6.url}"
                         alt="火系"
                         height="160px"></div>

            </div>
        </div>
    </div>
</form>


#parse("footer.html")